<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vendors</key>
	<dict>
		<key>10ac</key>
		<dict>
			<key>products</key>
			<dict>
				<key>d06e</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-180</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-270</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>display-resolution-preview-icon-90</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>resolution-preview-height</key>
					<integer>137</integer>
					<key>resolution-preview-height-180</key>
					<integer>137</integer>
					<key>resolution-preview-height-270</key>
					<integer>178</integer>
					<key>resolution-preview-height-90</key>
					<integer>178</integer>
					<key>resolution-preview-width</key>
					<integer>244</integer>
					<key>resolution-preview-width-180</key>
					<integer>244</integer>
					<key>resolution-preview-width-270</key>
					<integer>100</integer>
					<key>resolution-preview-width-90</key>
					<integer>100</integer>
					<key>resolution-preview-x</key>
					<integer>3</integer>
					<key>resolution-preview-x-180</key>
					<integer>3</integer>
					<key>resolution-preview-x-270</key>
					<integer>3</integer>
					<key>resolution-preview-x-90</key>
					<integer>3</integer>
					<key>resolution-preview-y</key>
					<integer>59</integer>
					<key>resolution-preview-y-180</key>
					<integer>59</integer>
					<key>resolution-preview-y-270</key>
					<integer>47</integer>
					<key>resolution-preview-y-90</key>
					<integer>47</integer>
				</dict>
				<key>d06f</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-180</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-270</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>display-resolution-preview-icon-90</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>resolution-preview-height</key>
					<integer>137</integer>
					<key>resolution-preview-height-180</key>
					<integer>137</integer>
					<key>resolution-preview-height-270</key>
					<integer>178</integer>
					<key>resolution-preview-height-90</key>
					<integer>178</integer>
					<key>resolution-preview-width</key>
					<integer>244</integer>
					<key>resolution-preview-width-180</key>
					<integer>244</integer>
					<key>resolution-preview-width-270</key>
					<integer>100</integer>
					<key>resolution-preview-width-90</key>
					<integer>100</integer>
					<key>resolution-preview-x</key>
					<integer>3</integer>
					<key>resolution-preview-x-180</key>
					<integer>3</integer>
					<key>resolution-preview-x-270</key>
					<integer>3</integer>
					<key>resolution-preview-x-90</key>
					<integer>3</integer>
					<key>resolution-preview-y</key>
					<integer>59</integer>
					<key>resolution-preview-y-180</key>
					<integer>59</integer>
					<key>resolution-preview-y-270</key>
					<integer>47</integer>
					<key>resolution-preview-y-90</key>
					<integer>47</integer>
				</dict>
			</dict>
		</dict>
		<key>4c2d</key>
		<dict>
			<key>products</key>
			<dict>
				<key>1015</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-180</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-270</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>display-resolution-preview-icon-90</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>resolution-preview-height</key>
					<integer>137</integer>
					<key>resolution-preview-height-180</key>
					<integer>137</integer>
					<key>resolution-preview-height-270</key>
					<integer>178</integer>
					<key>resolution-preview-height-90</key>
					<integer>178</integer>
					<key>resolution-preview-width</key>
					<integer>244</integer>
					<key>resolution-preview-width-180</key>
					<integer>244</integer>
					<key>resolution-preview-width-270</key>
					<integer>100</integer>
					<key>resolution-preview-width-90</key>
					<integer>100</integer>
					<key>resolution-preview-x</key>
					<integer>3</integer>
					<key>resolution-preview-x-180</key>
					<integer>3</integer>
					<key>resolution-preview-x-270</key>
					<integer>3</integer>
					<key>resolution-preview-x-90</key>
					<integer>3</integer>
					<key>resolution-preview-y</key>
					<integer>59</integer>
					<key>resolution-preview-y-180</key>
					<integer>59</integer>
					<key>resolution-preview-y-270</key>
					<integer>47</integer>
					<key>resolution-preview-y-90</key>
					<integer>47</integer>
				</dict>
				<key>7174</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.ipad-pro-12point9-2.tiff</string>
					<key>resolution-preview-height</key>
					<integer>158</integer>
					<key>resolution-preview-width</key>
					<integer>226</integer>
					<key>resolution-preview-x</key>
					<integer>8</integer>
					<key>resolution-preview-y</key>
					<integer>29</integer>
				</dict>
				<key>71a1</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-180</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-landscape.tiff</string>
					<key>display-resolution-preview-icon-270</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>display-resolution-preview-icon-90</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.pro-display-xdr-portrait.tiff</string>
					<key>resolution-preview-height</key>
					<integer>137</integer>
					<key>resolution-preview-height-180</key>
					<integer>137</integer>
					<key>resolution-preview-height-270</key>
					<integer>178</integer>
					<key>resolution-preview-height-90</key>
					<integer>178</integer>
					<key>resolution-preview-width</key>
					<integer>244</integer>
					<key>resolution-preview-width-180</key>
					<integer>244</integer>
					<key>resolution-preview-width-270</key>
					<integer>100</integer>
					<key>resolution-preview-width-90</key>
					<integer>100</integer>
					<key>resolution-preview-x</key>
					<integer>3</integer>
					<key>resolution-preview-x-180</key>
					<integer>3</integer>
					<key>resolution-preview-x-270</key>
					<integer>3</integer>
					<key>resolution-preview-x-90</key>
					<integer>3</integer>
					<key>resolution-preview-y</key>
					<integer>59</integer>
					<key>resolution-preview-y-180</key>
					<integer>59</integer>
					<key>resolution-preview-y-270</key>
					<integer>47</integer>
					<key>resolution-preview-y-90</key>
					<integer>47</integer>
				</dict>
				<key>e0d</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.ipad-pro-12point9-2.tiff</string>
					<key>resolution-preview-height</key>
					<integer>158</integer>
					<key>resolution-preview-width</key>
					<integer>226</integer>
					<key>resolution-preview-x</key>
					<integer>8</integer>
					<key>resolution-preview-y</key>
					<integer>29</integer>
				</dict>
			</dict>
		</dict>
		<key>610</key>
		<dict>
			<key>products</key>
			<dict>
				<key>a044</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.macbookpro-16-space-gray.tiff</string>
					<key>display-resolution-preview-icon-large</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.macbookpro-16-space-gray-large.tiff</string>
					<key>resolution-preview-height</key>
					<integer>108</integer>
					<key>resolution-preview-height-large</key>
					<integer>136</integer>
					<key>resolution-preview-width</key>
					<integer>175</integer>
					<key>resolution-preview-width-large</key>
					<integer>218</integer>
					<key>resolution-preview-x</key>
					<integer>28</integer>
					<key>resolution-preview-x-large</key>
					<integer>34</integer>
					<key>resolution-preview-y</key>
					<integer>42</integer>
					<key>resolution-preview-y-large</key>
					<integer>47</integer>
				</dict>
			</dict>
		</dict>
		<key>6161706c</key>
		<dict>
			<key>products</key>
			<dict>
				<key>61697270</key>
				<dict>
					<key>display-icon</key>
					<string>public.display</string>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/com.apple.ipad-pro-12point9-1.tiff</string>
					<key>resolution-preview-height</key>
					<integer>158</integer>
					<key>resolution-preview-width</key>
					<integer>226</integer>
					<key>resolution-preview-x</key>
					<integer>8</integer>
					<key>resolution-preview-y</key>
					<integer>29</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
